<link rel="stylesheet" href="/css/admin.css">


<div class="my-review-table-container">
  <h5 class="">All Employees List</h5>
  <table>
    <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Admin</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <% let i=0%>
        <% for(let employee of employeList) {%>
          <tr>
            <td scope="row">
              <%= i++ %>
            </td>
            <td>
              <%= employee.name%>
            </td>
            <td>
              <%= employee.email%>
            </td>
            <td>
              <%= employee.password%>
            </td>

            <% if(!employee.isAdmin) {%>

              <td>
                <div class="btn-active anchor-container">
                  <a href="/admin/make-admin/<%= employee._id %>">Make</a>
                </div>
              </td>
              <%}else{%>
                <td>
                  <div class="btn-disable anchor-container">
                    <a href="#" class="">Yes</a>
                  </div>
                </td>
                <%}%>

                  <% if(locals.user.id !=employee._id) {%>

                    <td>
                      <div class="btn-active anchor-container">
                        <a href="/admin/deleteEmployee/<%= employee._id %>">Delete</a>
                      </div>
                    </td>
                    <%}else{%>
                      <td>
                        <div class="btn-disable anchor-container">
                          <a href="">Delete</a>
                        </div>
                      </td>
                      <%}%>
                        <td>
                          <div class="btn-active anchor-container">
                            <a href="/admin/employee/update/<%= employee._id %>">Update</a>
                          </div>
                        </td>
          </tr>
          <%}%>

    </tbody>
  </table>
</div>
