<link rel="stylesheet" href="/css/home.css">
<div class="home-page-container">
    <%if(locals.user){%>
        <div class="outerDiv">
            <% if(!locals.user.isAdmin){ %>
                <div class="adminPass">
                    <form action="/users/login-as-admin/<%= user._id %>" method="post">
                        <input name="adminPassCode" type="password" placeholder="Password">
                        <button type="submit" class="submitHomeButton"> Log In as Admin</button>
                    </form>
                </div>
                <%}%>


                    <!-- the text part -->
                    <div class="home-box">

                    </div>

                    <div class="home-box">
                        <div class="employeereview">Pending Review List<br>
                        </div>

                        <div class="reviewBox">
                            <% for(let userWithPendingReview of user.usersWithPendingReviews) {%>

                                <div class="outerBox">
                                    <h6>
                                        To : <%= userWithPendingReview.name%>
                                    </h6>
                                    <div class="innerBox">
                                        <form action="/reviews/add-review/<%= userWithPendingReview._id %>"
                                            method="post">
                                            <textarea class="formClass" placeholder="Review, here !" name="newReview"
                                                rows="5" id="floatingTextarea2">
                                    </textarea>
                                            <div class="rating">
                                                Ratings
                                                <input type="radio" id="star1" name="rating" value="1" /><label
                                                    for="star1">&#9733;</label>
                                                <input type="radio" id="star5" name="rating" value="5" /><label
                                                    for="star5">&#9733;</label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label
                                                    for="star4">&#9733;</label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label
                                                    for="star3">&#9733;</label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label
                                                    for="star2">&#9733;</label>
                                            </div>
                                            <input type="hidden" value="<%=locals.user._id%>" name="reviewer">
                                            <br>
                                            <button type="submit" class="submitHomeButton"> Submit </button>
                                        </form>
                                    </div>
                                </div>


                                <%}%>
                        </div>
                    </div>

                    <div class="my-review-table-container">
                        <h6> My Given Reviews</h6>
                        <table>
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Reviewee</th>
                                    <th>Review</th>
                                    <th>Rating</th>

                                    <% if(locals.user.isAdmin) { %>
                                        <th>Update</th>
                                        <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% let index=1; %>
                                    <% for(let review of user.givenReviews ) {%>

                                        <tr>
                                            <td>
                                                <%= index++ %>
                                            </td>
                                            <td>
                                                <%= review.reviewedTo.name %>
                                            </td>
                                            <td>
                                                <%=review.content %>
                                            </td>
                                            <td>
                                                <%= review.rating %>
                                            </td>
                                            <% if(locals.user.isAdmin) { %>
                                                <td><a href="/reviews/update/<%=review._id%>">Update</a></td>
                                                <% } %>

                                        </tr>
                                        <%}%>
                            </tbody>
                        </table>
                    </div>

                    <% if(locals.user.isAdmin) { %>
                        <div class="my-review-table-container">
                            <h6> All Reviews</h6>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Reviewer</th>
                                        <th>Reviewee</th>
                                        <th>Review</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let index=1; %>
                                        <% for(let review of reviewList ) {%>

                                            <tr>
                                                <td>
                                                    <%= index++ %>
                                                </td>
                                                <td>
                                                    <%= review.reviewer ? review.reviewer.name : '-' %>
                                                </td>
                                                <td>
                                                    <%= review.reviewedTo ? review.reviewedTo.name :'-' %>
                                                </td>
                                                <td>
                                                    <%=review.content %>
                                                </td>
                                                <td>
                                                    <%= review.rating ? review.rating : '-' %>
                                                </td>

                                            </tr>
                                            <%}%>
                                </tbody>
                            </table>
                        </div>
                        <% } %>
                            <%}%>
        </div>